#{extends 'main.html' /}
#{set title:messages.get('message.show') /}
#{set breadcrumbs:['message.list':controllers.Resecure.check('Messages.index', null) ? @Messages.list() : @Operators.messages(), 'message.show':null] /}

<fieldset class="form form-horizontal">


    #{f.view 'message.subject' /}
    #{f.view 'message.body', value:message.body.raw() /}
    #{f.view 'message.source' /}
    #{secure.check 'Messages.new'}
	    #{f.view 'message.recipients', bodyonly:true, value:true}
	    <ul>
	    #{list items:message.details, as:'detail'}
	        <li>
	            #{if detail.read}
	             <i class="fa fa-cicle-checked-o"></i>
	            #{/if} ${detail.operator.fullname}
	        </li>
	    #{/list}
	    </ul>
    
	    <div class="alert alert-info">
	        Letto da ${message.detailsReadBy()} destinatari.
	    </div>    
	    
	    #{/f.view}
    #{/secure.check}
    
        <ul class="list-unstyled col-sm-offset-2">
    #{list items:message.attachments, as:'item'}
      <li>
      <a href="@{Messages.download(message.id, item.UUID)}">
        <i class="fa fa-download"></i>
        Scarica allegato ${item_index}
      </a>
      </li>
    #{/list}
    </ul>
</fieldset>


	<div class="row">
		<p class="col-sm-offset-2 col-sm-10">
            #{secure.check 'Messages.edit', target:message}
            
	    	  <a class="btn btn-default" href="@{Messages.edit(message.id)}">
	    		<i class="fa fa-edit"></i> ${'edit'.label()}</a>

       		#{/secure.check}

			#{secure.check 'Messages.index'}       	    	
	    	<a class="btn btn-warning" href="@{index()}">
	    		<i class="fa fa-times"></i> &{'cancel'}</a>
	    	#{/secure.check}
	    	
	    	#{secure.denied 'Messages.index'}
	    	<a class="btn btn-warning" href="@{Operators.messages()}">
	    		<i class="fa fa-times"></i> &{'cancel'}</a>	    	
	    	#{/secure.denied}
	    	
		</p>
	</div>
