/lib
/tmp
/modules
/eclipse
/logs
/.classpath
/server.pid
/.project
/.settings
/build
/thumbnails
/data
/*.pyc
/.pydevproject
/test-result
/test-output
/node_modules
/VERSION
/precompiled
/.gradle/
node_modules/
