#{extends 'main.html' /}
#{set title:messages.get('registration.lostPassword') /}

#{form action:@passwordResetRequest(), class:'form', autocomplete:'off'}
<p class="alert alert-info"><i class="fa fa-info-circle"></i> &{'registration.passwordResetRequest'}</p>
<p class="text text-info">
  Inserisci qui la tua email per continuare con la procedura.
</p>
<div class="row">
    <div class="col-sm-3">
#{f.text 'email', required:true, placeholder:'tua@email', inline:true /}
    </div>
    <div class="col-sm-2">
        <button type="submit" class="btn btn-primary" name="_confirm">
            <i class="fa fa-chevron-circle-right"></i> &{'registration.continue'}
        </button>
    </div>
</div>        
#{/form}
