#{extends 'main.html' /}
#{set title:messages.get('registration.passwordResetRequest') /}

<p>
  Nel caso in cui l'utente fornito sia presente nel sistema,
  riceverai a breve una e-mail contenente l'indirizzo web a cui dovrai accedere per impostare la tua nuova password.
</p>
<p class="alert alert-warning">
  <strong>NOTA:</strong> l'indirizzo è valido per <strong>${recoveryRequestExpire}</strong>.
</p>
<p>
  Una volta scaduto, potrai usare il collegamento
  <a href="@{Registration.lostPassword()}">&{'registration.lostPassword'}</a> per generarne un altro.
</p>
