#{if companyLineSwitcher}
#{secure.check 'CompanyLines.switch'}
 #{if $data.current.allowedCompanyLines.size() > 1}
  <div class="pull-right">
   <div class="btn-group">
     <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Linea aziendale: ${$data.current.companyLine.name} <span class="caret"></span>
     </button>
     <ul class="dropdown-menu">
      #{list items:$data.current.allowedCompanyLines.findAll { it -> it != $data.current.companyLine}, as:'item'}
        <li><a href="@{CompanyLines.switchTo(item.id)}"> Passa a ${item.name}</a></li>
      #{/list}
     </ul>
    </div>
  </div>
 #{/if}#{else}
  #{if session.contains("___sudo")}
   <div class="pull-right">
    <span class="btn btn-warning disabled">
     Linea aziendale: ${$data.current.companyLine.name}
    </span>
   </div>
  #{/if}
 #{/else}
#{/secure.check}
#{/if}