<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>InPhase - #{get 'title' /}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="InPhase">
    #{if play.mode.name() != 'DEV'}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css">
    #{stylesheet 'main.css' /}
    #{/if}
    #{get 'moreStyles' /}

  <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->
  <body>
    <div class="container">
      <div class="content">
#{if flash?.error}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <i class="fa fa-warning"></i> &{flash.error}
</div>
#{/if} #{if flash?.success}
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <i class="fa fa-check-circle"></i> &{flash.success}
</div>
#{/if}
        #{doLayout /}
      </div>
    </div>
  </body>
</html>
