#{extends 'main.html' /}
#{set title:'Setup' /}
#{set breadcrumbs:['setup':null] /}

<div class="panel panel-info">
  <div class="panel-heading"><i class="fa fa-gears"></i>
    &{'inConfiguration'}</div>
  <div class="panel-body">
#{form action:@configurationUpdate(), class:'form-horizontal',
  autocomplete:'off', method:'POST'}

  #{f.text 'configuration.generalFrom', required:true,
    placeholder:'configuration.generalFrom.placeholder'.label(),
    description:'configuration.generalFrom.description' /}

  #{b.buttons}
    #{b.save /}
  #{/b.buttons}
#{/form}
  </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading"><i class="fa fa-map"></i>
        Variazioni comuni annuali</div>
    <div class="panel-body">
        <div class="alert alert-info">
            Le variazioni comunali sono accettate in formato CSV
            <strong>separato da virgole e senza intestazioni</strong>
            con le seguenti colonne:
            <ul>
                <li>anno della variazione, es: 2014</li>
                <li>tipo della variazione, es: AQ, ES, ...</li>
                <li>codice istat regione (non usato)</li>
                <li>codice istat comune</li>
                <li>nome del comune</li>
                <li>altro codice comune</li>
                <li>altro nome comune (non usato)</li>
                <li>provvedimento e documento (non usato)</li>
                <li>contenuto del provvedimento (non usato)</li>
                <li>data di decorrenza (non usato)</li>
            </ul>
        </div>
      #{form action:@importMunicipalVariations(), class:'form-horizontal',
        autocomplete:'off', method:'POST', enctype:'multipart/form-data'}

        #{f.edit 'file', required:true}
            <input type="file" name="file" id="file">
        #{/f.edit}

        #{b.buttons}
            #{b.submit 'Carica e salva', fa:'upload' /}
        #{/b.buttons}
      #{/form}
    </div>
</div>

