#{extends 'main.html' /}
#{set title:messages.get('personal.editPassword') /}

#{form action:@updatePassword(), class:'form-horizontal', autocomplete:'off'}

#{f.password 'password', placeholder:'password', required:true /}
#{f.password 'confirmPassword', placeholder:messages.get('confirmPassword'), required:true /}

<div class="row">
  <div class="col-sm-offset-2 col-sm-10">
  <button type="submit" class="btn btn-primary" name="_confirm">
    <i class="fa fa-check-square-o"></i> &{'confirm'}
  </button>
  </div>
</div>

#{/form}
