#{extends 'main.html' /}
#{set title:'Benvenuto' /}

<div class="homepage-quick-menu">
  <div class="panel panel-info">
    <div class="panel-heading">Menu scelta rapida</div>
    <div class="panel-body text-center">
      <div class="row">
       <div class="col-lg-12">
       xxx
       </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-6">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <i class="fa fa-tasks"></i> &{'Notifications.tasks'} <span class="badge">${tasks}</span>
        </div>
        <div class="panel-body" data-load-async="@{Notifications.tasks()} #taskList">
         <i class="fa fa-spin fa-spinner fa-2x"></i>
         Caricamento dei compiti da completare in corso...
        </div>
    </div>
    <div class="panel panel-info" id="notifications" data-load-async="@{Notifications.notifications()}">
        <div class="panel-heading">
        <i class="fa fa-spin fa-spinner fa-2x"></i> Caricamento notifiche in corso...
        </div>
    </div>
#{secure.check 'Issues.issues'}
    <div class="panel panel-default" id="issues" data-load-async="@{Issues.issues()}">
        <div class="panel-heading">
        <i class="fa fa-spin fa-spinner fa-2x"></i> Caricamento in corso...
        </div>
    </div>
#{/secure.check}
</div>

