<!DOCTYPE html>
<html class="no-js" lang="it">
  <head>
    <meta charset="utf-8">
    <title>${play.configuration['site.name']} - #{get 'title' /}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="${play.configuration['site.name']}">
    <meta name="author" content="${play.configuration['site.customer']}">
    <meta name="x-pjax-version" content="${appVersionData}"/>

   #{if !via_pjax}
<link rel="shortcut icon" href="/favicon.ico">
<link href="/apple-touch-icon.png" rel="apple-touch-icon">
<link href="/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
<link href="/icon-192x192.png" rel="icon" sizes="192x192">
<link href="/icon-128x128.png" rel="icon" sizes="128x128">

${common.webpack.WebpackLoader.head().raw()}

    #{get 'moreStyles' /}
   #{/if}
  </head>
  <body>
  <!--[if lt IE 8]>
     <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
   <div id="wrap">
      #{if !via_pjax}
        #{include './layout/default_header.html' /}
      #{/if}

      <div class="container-fluid">
        <div class="content">
          #{if !modal}
            <div class="page-header hidden-xs hidden-sm">
              <h1>#{get 'title' /}</h1>
            </div>
          #{/if}

          #{if breadcrumbs}#{breadcrumbs breadcrumbs /}#{/if}
          #{notify /}
          #{doLayout /}
          </div>
      </div>
   </div>
    #{if !modal}
      #{include 'footer.html' /}
    #{/if}

${common.webpack.WebpackLoader.body().raw()}
<script src="@{Application.script}"></script>
    #{get 'moreScripts' /}
</body>
</html>
